body {
  font-family: 'Saira Semi Condensed', sans-serif;
  background-color: #ef6a3b;
    /*use transition to make your background differnt in a 2 second.*/
  transition: 2s;
}

h1 {
  font-size:50px;
  text-align:center;
  padding:1%;
  color: white;
  cursor: pointer;
  text-shadow: 0px 2px 2px black;
}

.animated {
  -webkit-animation-duration: 1s;
}


/*Center text inside the image*/
.text {
  color: white;
  font-size: 40px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container {
   position: relative;
   width: 66%;
   margin: 20px auto;
   -webkit-column-count:1;
   -moz-column-count:1;
   column-count:1;
   /*hidden the outside of the image when hover*/
   overflow: hidden;
}


/*overlay div on the top of image*/
.overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .2s all ease-in;
   background-color: rgba(1, 1, 1, 0.6);
   cursor: pointer;


}

.container:hover .overlay {
  opacity: 1;
}

/*image zoom on hover inside a div*/
.container:hover img {
  transform: scale(1.1);
  transition: .9s ease;
}


.img-responsive{
  width:100%;
  height:auto;
  margin: 0 auto;
  box-shadow: 0px 5px 20px black;
  cursor: pointer;
  /*border: 1px solid red;*/
}

@media screen and (max-width:750px) {
  body {
    background-color: #f7d9cf;
  }
  .container{
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;
  width: 100%;
 }

  h1 {
    color: white;
    font-size: 30px;
  }

  .text{
    color: white;
    font-size: 30px;
  }

}
